<header id="header" class="header">
  <div class="container">
    <div class="header__top">
      <a href="/" class="header__logo">
        <img src="/assets/images/logo-tiki.png" alt="Logo" />
      </a>
      <div class="header__search">
        <img src="/assets/images/search-icon.png" alt="" class="header__search-icon" />
        <input type="text" class="header__search-input" placeholder="Rẻ mỗi ngày, không chỉ một ngày" />
        <button class="header__search-btn">Tìm kiếm</button>

        <div class="header__search-result"></div>
      </div>
      <div class="header__action">
        <a href="/" class="header__action-btn header__btn-home active">
          <img src="/assets/images/home-blue-icon.png" alt="" class="header__action-btn-icon" />
          Trang chủ
        </a>
        <button class="header__action-btn header__btn-account modal__btn-open">
          <img src="/assets/images/smile-icon.png" alt="" class="header__action-btn-icon" />
          <a href="/login" class="header__btn-login">Đăng nhập</a>
          <span class="header__btn-profile">Tài khoản</span>

          <ul class="header__menu-dropdown">
            <li class="header__menu-dropdown-item header__info">
              <div class="header__info-avatar">
                <img src="" alt="" />
              </div>
              <p class="header__info-name"></p>
            </li>
            <li class="header__menu-dropdown-item">
              <a href="#!" class="header__menu-dropdown-link"> Thông tin tài khoản </a>
            </li>
            <li class="header__menu-dropdown-item">
              <a href="#!" class="header__menu-dropdown-link"> Đơn hàng của tôi </a>
            </li>
            <li class="header__menu-dropdown-item">
              <a href="#!" class="header__menu-dropdown-link header__btn-logout"> Đăng xuất </a>
            </li>
          </ul>
        </button>
        <a href="/cart" class="header__btn-cart active">
          <img src="/assets/images/cart-blue-icon.png" alt="" class="header__action-btn-icon" />
          <span class="header__cart-quantity">0</span>
        </a>
      </div>
    </div>
    <div class="header__bottom">
      <ul class="header__quick-menu">
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">trái cây</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">thịt, trứng</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">rau củ quả</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">sữa, bơ, phô mai</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">hải sản</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">gạo, mì ăn liền</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">đồ uống, bia rượu</a>
        </li>
        <li class="header__quick-item">
          <a href="#!" class="header__quick-link">bánh kẹo</a>
        </li>
      </ul>

      <div class="header__location">
        <img src="/assets/images/location-icon.png" alt="" class="header__location-icon" />
        <h5 class="header__location-title">Giao đến:</h5>
        <a href="#!" class="header__location-address">Q. Hải Châu, P. Hải Châu I, Đà Nẵng</a>
      </div>
    </div>
    <div class="header__fixed">
      <a href="/" class="header__action-btn header__btn-home active">
        <img src="/assets/images/home-blue-icon.png" alt="" class="header__action-btn-icon" />
        Trang chủ
      </a>
      <button class="header__action-btn header__btn-category">
        <img src="/assets/images/category-icon.png" alt="" class="header__action-btn-icon" />
        Danh mục
      </button>
      <button class="header__action-btn header__btn-chat">
        <img src="/assets/images/chat-icon.png" alt="" class="header__action-btn-icon" />
        Chat
      </button>
      <button class="header__action-btn header__btn-acccount modal__btn-open">
        <img src="/assets/images/smile-icon.png" alt="" class="header__action-btn-icon" />
        Tài khoản
      </button>
    </div>
  </div>
</header>
