<div class="card">
  <div class="card__container">
    <div class="card__banner">
      <div class="card__banner-wrapper">
        <h3 class="card--title">Gợi ý hôm nay</h3>
        <div class="card__suggest">
          <button class="card__suggest-btn active">
            <img
              src="https://salt.tikicdn.com/cache/w100/ts/personalish/f9/27/b5/3a8e2286a1c8fb91b67acc5ee35f82f0.png.webp"
              alt=""
              class="card__suggest-icon"
            />
            <p class="card__suggest-title">Dành cho bạn</p>
          </button>
          <button class="card__suggest-btn">
            <img
              src="https://salt.tikicdn.com/cache/w100/ts/personalish/3e/da/53/391c37862ff5bd340b3fcf7d858a96dc.png.webp"
              alt=""
              class="card__suggest-icon"
            />
            <p class="card__suggest-title">Rẻ Mỗi Ngày</p>
          </button>
          <button class="card__suggest-btn">
            <img
              src="https://salt.tikicdn.com/cache/w100/ts/personalish/d4/de/6f/412a517a5b52d5312b66a47c088daa2e.png.webp"
              alt=""
              class="card__suggest-icon"
            />
            <p class="card__suggest-title">Freeship</p>
          </button>
          <button class="card__suggest-btn">
            <img
              src="https://salt.tikicdn.com/cache/w100/ts/personalish/1a/41/2f/bd05c095d72298752832dd5e87917c1c.png.webp"
              alt=""
              class="card__suggest-icon"
            />
            <p class="card__suggest-title">Astra Plus</p>
          </button>
          <button class="card__suggest-btn">
            <img
              src="https://salt.tikicdn.com/cache/w100/ts/personalish/08/b8/5c/5c6327fd3cf12c534bff4a55dab2f12d.png.webp"
              alt=""
              class="card__suggest-icon"
            />
            <p class="card__suggest-title">Dịch vụ số</p>
          </button>
          <button class="card__suggest-btn">
            <img
              src="https://salt.tikicdn.com/cache/w100/ts/personalish/0f/59/9d/215fa18ef72e430eefcbfe5355cab8e2.png.webp"
              alt=""
              class="card__suggest-icon"
            />
            <p class="card__suggest-title">Rẻ vô đối</p>
          </button>
        </div>
      </div>
    </div>

    <div class="card__list"></div>

    <!-- <button class="card__btn-more">Xem thêm</button> -->
  </div>
</div>
