<div class="modal">
  <div class="modal__container">
    <div class="modal__content">
      <div class="form">
        <form action="" id="form" class="form__main">
          <h3 class="form__main--heading">Xin chào,</h3>
          <p class="form__main--text">Đăng nhập hoặc Tạo tài khoản</p>

          <input type="tel" name="tel" maxlength="20" class="form__input form__input-phone" name="phone" placeholder="Số điện thoại" />
          <span class="form__message-valid">Số điện thoại không đúng định dạng.</span>
          <button class="form__btn-submit">Tiếp tục</button>
          <a href="#!" class="form__btn-email">Đăng nhập bằng email</a>

          <div class="form__footer">
            <p class="form__text-line">
              <span>Hoặc tiếp tục bằng</span>
            </p>

            <div class="form__login-other">
              <button class="form__footer-btn form__btn-facebook">
                <img src="/assets/images/facebook-icon.png" alt="" />
              </button>
              <button class="form__footer-btn form__btn-google">
                <img src="/assets/images/google-icon.png" alt="" />
              </button>
            </div>

            <p class="form__footer-rules">Bằng việc tiếp tục, bạn đã chấp nhận <a href="#!">điều khoản sử dụng</a></p>
          </div>
        </form>
        <div class="form__thumbnail">
          <img src="/assets/images/bg-form-1.png" alt="" />
          <h4>Mua sắm tại Tiki</h4>
          <p>Siêu ưu đãi mỗi ngày</p>
        </div>
      </div>
    </div>
    <button class="modal__btn-close">
      <img src="/assets/images/times-icon.png" alt="" />
    </button>
  </div>
</div>

<div id="overlay" class="overlay"></div>

<div class="lds-ellipsis">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
