<header class="navbar bg-white">
  <div class="container-fluid">
    <a
      href="#!"
      class="navbar-brand d-flex align-items-end gap-1 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      style="width: 280px"
    >
      <img src="/assets/images/logo-tiki.png" alt="Logo" width="56" />
      <span class="fs-4 d-none d-md-flex fw-medium" style="margin-bottom: -6px">Admin</span>
    </a>
    <div class="d-flex flex-wrap align-items-center justify-content-between" style="flex: 1">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <i class="bi bi-list fs-3"></i>
      </a>
      <div class="d-flex">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search" />
        </form>

        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" style="width: 400px" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
